conda create -n versecrafter python=3.11 -y
conda activate versecrafter

# Install PyTorch
conda install pytorch==2.3.0 torchvision==0.18.0 torchaudio==2.3.0 pytorch-cuda=12.1 -c pytorch -c nvidia -y 

# Install Python dependencies
pip install -r requirements.txt

# Install MoGe
pip install git+https://github.com/microsoft/MoGe.git

# Install Grounded-SAM-2
cd inference/Grounded-SAM-2
pip install -e .
pip install --no-build-isolation -e grounding_dino

# Install flash attention
pip install flash-attn --no-build-isolation

# Install pytorch3d
cd ../../
git clone https://github.com/facebookresearch/pytorch3d.git
cd pytorch3d
pip install --no-build-isolation .
cd ../VerseCrafter